<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>Tabla2Terreno</display-name>
	
	<servlet>
		<servlet-name>ArmaServlet</servlet-name>
		<servlet-class>tabla.ArmaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArmaServlet</servlet-name>
		<url-pattern>/tabla.echo</url-pattern>
	</servlet-mapping>
	
	
	
	<display-name>Tabla2Terreno</display-name>
	
	<servlet>
		<servlet-name>ArmaServlet2</servlet-name>
		<servlet-class>tablaCaballero.ArmaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArmaServlet</servlet-name>
		<url-pattern>/tablaCaballero.echo</url-pattern>
	</servlet-mapping>
	
	
	
	
	
		
	
	
	
	
	
	
	</web-app>